.nav-link {
    font-size: 1.5rem;
}

.nav-bar {
    position: fixed;
}

.container{
    width: 80%;
}

p {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    width: 100%;
}

img {
    width: 15px;
    height: 15px;
    position: relative;
    left: 0;
    top: 0;
}


body {
    background-image: url('../img/bg.png'); 
    background-repeat: no-repeat; 
    background-size: (100% 100%); 
    overflow: hidden;
}

.snow {
    top:0px;
    left:0px;
    position:absolute;
    z-index:5;
}

#logout-btn, #profile{
    cursor: pointer;
}