h4{
    text-align: left;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}

.fa-twitter {
    display: inline-block;
    font-size: 3.5rem;
    color: #00aced;
    margin: auto;
}

.fa-twitter:hover {
    font-size: 4rem;
    color: #0099ed;
}

.fa-google {
    display: inline-block;
    font-size: 3.5rem;
    color: #dd4b39;
    margin: auto;
}

.fa-google:hover {
    font-size: 4rem;
    color: #cc4b39;
}

.fa-facebook {
    display: inline-block;
    font-size: 3.5rem;
    color: #3b5998;
    margin: auto;
}

.fa-facebook:hover {
    font-size: 4rem;
    color: #3b4498;
}