.nav-link {
    font-size: 1.5rem;
}

.nav-bar {
    position: fixed;
}

p {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

body{
    background-size: (100% 100%); 
}

#logout-btn, #profile{
    cursor: pointer;
}

.container{
    position: relative;
    text-align: center;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Black Han Sans', sans-serif;
    color: darkred;
}

#top_pic {
    opacity: 0.7;
    z-index: -1;
}

h5 {
    float: left;
}

#uploadFileInput {
    position: relative;
    left: 10px;
}